p {
    font-size: 20px; 
}
div {
    font-size: 40px; color: blue;
}
a {
    color: red;
}
a:hover {
  background-color:green;
}
@media only screen and (max-width: 500px) 
{body
    {background-color: rgb(168, 224, 243);} }
h1 {font-size: 40px; color: rgb(22, 70, 3)
}
h2 {font-size: 30px;
}