p {
    font-size: 20px; 
}
div {
    font-size: 40px; color: blue;
}
a {
    color: red;
}
a:hover {
  background-color:green;
}
@media only screen and (max-width: 500px) {body
    {background-color: lightblue;} }